**/.env*
!.env.example
.idea

# Local files
apps/control-plane/plugins
apps/control-plane/plugins.json
apps/control-plane/server
apps/control-plane/tmp

# Binaries
/bin/
*.bin
*.exe
*.dll
*.so
*.dylib

# Build artifacts
/*.tmp